@mixin p-strip {
  .p-strip-main {
    @extend %vf-strip;

    align-items: center;
    display: flex;
    height: 90vh;
    padding: 0;
  }

  .p-strip--light {
    @extend %vf-strip;

    color: $color-background;
  }

  [class*="p-strip"].is-slanted--top-right,
  [class*="p-strip"].is-slanted--top-left {
    padding-block-start: 8rem;
    &::before {
      top: 0;
      background-image: linear-gradient(
        to bottom right,
        $color-background 0%,
        $color-background 49%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      content: "";
      display: block;
      height: 4rem;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }

  [class*="p-strip"].is-slanted--top-right {
    &::before {
      background-image: linear-gradient(
        to bottom right,
        $color-background 0%,
        $color-background 49%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  [class*="p-strip"].is-slanted--top-left {
    &::before {
      background-image: linear-gradient(
        to bottom left,
        $color-background 0%,
        $color-background 49%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
}
